<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/" color="light">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-list>
      <ion-label>
          Nome do Produto
       </ion-label>
      <ion-input placeholder="Ex: Laptop"></ion-input>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-label>
          Descrição do Produto
       </ion-label>
       <ion-textarea
          cols="50" rows="5"
          placeholder="Ex: É um computador portátil, leve, projetado para ser transportado e utilizado em diferentes lugares com facilidade."></ion-textarea>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-label>
          Quantidade do Produto
       </ion-label>
       <ion-input type="cc-number" placeholder="0"></ion-input>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-label>
          Preço do Produto
       </ion-label>
       <ion-input type="number" placeholder="Ex: 9.90"></ion-input>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-label>
          Código de Barras do produto
       </ion-label>
       <ion-input
       type="number"
       class="input-cod"
       placeholder="Ex: 79839282983"
       value=""></ion-input>
       <ion-button color="light" (click)="startScanning()" class="btn-cam">
        <ion-icon class="icon-cam" name="camera-outline"></ion-icon>
       </ion-button>
    </ion-list>
  </ion-item>
  <p align="center">
    <ion-button color="light" (click)="warningAlert()">Cadastrar</ion-button>
  </p>
</ion-content>
