<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!getParamCodBar">Cadastro</ion-title>
    <ion-title *ngIf="getParamCodBar">Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/" color="light">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="produtoForm">
    <ion-item>
      <ion-list>
        <ion-label>
            Nome do Produto
        </ion-label>
        <ion-input formControlName="nome" placeholder="Ex: Laptop"></ion-input>
        <span class="error-message" *ngIf="isSubmitted && errorControl.nome.errors?.required">Nome é obrigatório</span>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-label>
            Descrição do Produto
        </ion-label>
        <ion-textarea
          cols="50" rows="5" formControlName="descricao"
          placeholder="Ex: É um computador portátil, leve, projetado para ser transportado e utilizado em diferentes lugares com facilidade.">
        </ion-textarea>
        <span class="error-message"
          *ngIf="isSubmitted && errorControl.descricao.errors?.required">Descrição é obrigatória
        </span>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-label>
            Quantidade do Produto
        </ion-label>
        <ion-input type="number" formControlName="quantidade" placeholder="0"></ion-input>
        <span class="error-message"
          *ngIf="isSubmitted && errorControl.quantidade.errors?.required">Quantidade é obrigatória
        </span>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-label>
            Preço do Produto
        </ion-label>
        <ion-input type="number" formControlName="preco" placeholder="Ex: 9.90"></ion-input>
        <span class="error-message"
          *ngIf="isSubmitted && errorControl.preco.errors?.required">Preço é obrigatório
        </span>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-label>
            Código de Barras
        </ion-label>
        <ion-input
        *ngIf="!result"
        type="number"
        class="input-cod"
        placeholder="Ex: 79839282983"
        formControlName="cod_bar"
        value=""></ion-input>
        <span class="error-message"
          *ngIf="isSubmitted && errorControl.cod_bar.errors?.required">Código de barras é obrigatório
        </span><br>
          <ion-button color="light" (click)="startScanning()" [hidden]="scanActive" class="btn-cam">
            <ion-icon class="icon-cam" name="camera-outline"></ion-icon>
          </ion-button>
          <p *ngIf="result">Resultado da câmera:</p>
          <p *ngIf="result && !scanActive">{{result}}</p>
          <div class="scanner-active" >

          </div>
          <ion-button color="light" (click)="stopScanning()" [hidden]="!scanActive" class="btn-cam">
            <ion-icon class="icon-cam" name="camera-outline"></ion-icon>
          </ion-button>
      </ion-list>
    </ion-item>

    <p align="center" *ngIf="!getParamCodBar">
      <ion-button
      type="submit"
      (click)="produtoSubmit()"
      color="light">
        Cadastrar
      </ion-button>
    </p>
    <p align="center" *ngIf="getParamCodBar">
      <ion-button
      type="submit"
      (click)="produtoUpdate()"
      color="light">
        Atualizar
      </ion-button>
    </p>
  </form>
</ion-content>

