<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="/config">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="/create">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-item>
      <ion-label>Produtos cadastrados</ion-label>
      <ion-note
        slot="end"
        *ngFor="let item of listData;let i=index;let last=last"
      >
        <div *ngIf="last">{{i+1 || 0}}</div>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-label> Buscar Produto </ion-label>
        <ion-input placeholder="Ex: Laptop"></ion-input>
      </ion-list>
      <ion-button color="light" slot="end" class="button-search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let item of listData">
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option
          [routerLink]="['/create',item.cod_bar]"
          color="success"
        >
          <ion-icon name="create-outline" style="font-size: 20px"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-list (click)="openModal(item.cod_bar)">
        <ion-item>
          <ion-label>
            <h3>{{item.nome}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Descrição</h3>
            <p>{{item.descricao}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h3>Quantidade</h3> </ion-label>
          <ion-note slot="end">{{item.quantidade}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><h3>Preço</h3> </ion-label>
          <ion-note slot="end">R$: {{item.preco}}</ion-note>
        </ion-item>
      </ion-list>

      <ion-item-options side="end">
        <ion-item-option
          color="danger"
          (click)="warningAlert(item.cod_bar, item.nome)"
        >
          <ion-icon name="trash" style="font-size: 20px"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-content>
