<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="/config">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="/create">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-item>
      <ion-label>Produtos cadastrados</ion-label>
      <ion-note slot="end" *ngFor="let item of listData;let i=index;let last=last">
        <div *ngIf="last">{{i+1}}</div>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Quantidade total</ion-label>
      <ion-note slot="end">
        <div>0</div>
      </ion-note>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let item of listData">
    <ion-item>
      <ion-label>
        <h3>{{item.nome}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Descrição</h3>
        <p>{{item.descricao}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><h3> Quantidade</h3> </ion-label>
      <ion-note slot="end">{{item.quantidade}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label><h3> Preço</h3> </ion-label>
      <ion-note slot="end">R$: {{item.preco}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-button color="light" (click)="openModal()">
        <ion-icon name="expand-outline"></ion-icon></ion-button>
      &nbsp;
      <ion-button [routerLink]="['/create',item.cod_bar]" color="success"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button color="danger" (click)="warningAlert(item.cod_bar, item.nome)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-card>
</ion-content>
