<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
    <ion-button class="close-button-modal" color="light" slot="end" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of listData">
    <ion-card-header>
      <ion-card-title><h3>{{item.nome}}</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-card-title><h2>Descrição</h2></ion-card-title>
    <!-- <p> Nescau 2.0 é o achocolatado da nestlé que todo mundo adora. Além do sabor delicioso de nescau, o produto contém activ-go, uma combinação exclusiva de nutrientes que é fonte de cálcio, ferro, vitaminas a, c, d e vitaminas do complexo b, que fazem parte de uma alimentação equilibrada. </p> -->
      <p>{{item.descricao}}</p>
  </ion-card-content>
    <ion-footer>
      <ion-card-content>
        <ion-card-title><h2>Quantidade</h2></ion-card-title>
        <ion-card-subtitle>{{item.quantidade}}</ion-card-subtitle>
      </ion-card-content>
      <ion-card-content>
        <ion-card-title><h2>Preço</h2></ion-card-title>
        <ion-card-subtitle>R$: {{item.preco}}</ion-card-subtitle>
      </ion-card-content>
      <ion-card-content>
        <ion-card-title><h2>Código de barras</h2></ion-card-title>
        <ion-card-subtitle>{{item.cod_bar}}</ion-card-subtitle>
      </ion-card-content>
    </ion-footer>
  </ion-card>
</ion-content>
